<title *ngIf="data">{{data.title}}</title>

<div class="placeHolderShimmer col-xs-12 zeroPadding scrollContainer" [hidden]="allListData">
  <div class="linear-background sliders mb-5"></div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <div class="linear col-xs-6 col-sm-4 col-md-3" *ngFor="let list of shimmer">
        <div class="linear-background big mb-2"></div>
        <div class="linear-background small mb-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="YeloHome leftResult col-xs-12 zeroPadding" [hidden]="!allListData" style="margin-top: 3em;">
 <div class="mainHomeList col-xs-12" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    <div class="row">
      <div class="col-xs-12 paddingTopBot" style="margin-top:50px; background: #f6f5f7;">
        <div class="row">
          <div class="col-xs-12 paddingTopBot" >
            {{home.searchRes}} <span class="searchPro"><b>"{{searchProduct}}"</b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-lg-2  visible-md visible-lg visible-xl positionSticky" style="background: #fff;" [ngClass]="{'ArabicRight': languageCode === 'ar'}">
            <div class="row">
              <div class="sideDetails col-xs-12 form-group zeroPadding" id="sideDetailsId1">
                <div class="browseListCat allListRecent boxShadowList zeroPadding">
                  <div class="col-12 wholeDiscoverData">
                  <div class="listBrowseTitle filterButton col-xs-12 text-center" style="cursor:pointer !important"> 
                    <span class="buttonPopupFilter" (click)="postedWithinList(10,10)">{{home.reset}}</span>
                  </div>
                  <div class="listBrowseTitle"> {{home.location}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding" *ngIf="catList">
                    <li class="sideListLi textEllipse" (click)="checkLocation();">
                      <span class="ion-ios-location" style="font-size:20px;"></span>
                      <span class="titles">
                        <span class="location">{{recentCity}}</span>
                      </span>
                      <input type="hidden" name="" value="" id="lati" class="headerSearch form-control">
                      <input type="hidden" name="" value="" id="lngi" class="headerSearch form-control">
                      <input type="hidden" name="" value="" id="cityAreai" class="headerSearch listNew form-control">
                    </li>
                    <li class="sideListLi textEllipse changLocates text-center" (click)="checkLocation();">
                      <div class="col-xs-12 zeroPadding changLocate">{{home.setLocation}}</div>
                    </li>
                  </ul>
                  <div class="filterCateList col-xs-12 zeroPadding">
                    <div class="listBrowseTitle"> {{home.categories}}</div>
                    <div class="catgoryList popupScreenFilter col-xs-12 categoryListForSearch" *ngIf="catList" [ngClass]="{'floatNone': langaugeCode === 'ar'}">
                      <div class="sideListLi textEllipse1 displayUnset zeroPadding" [class.active]="cat.activeimg == true"
                        *ngFor="let cat of catList; let i = index;">
                        <div class="col-xs-12 zeroPadding">
                          <span class="mulTiCancel" *ngIf="cat.activeimg == true" (click)="cancelCat(i)">
                            <img class="tickIcon" src="assets/images/tick.svg">
                          </span>
                         <span class="catSubCategoryDetails" (click)="searchCategoryName(cat.name, i,0)"> 
                          <div class="imgTitle" [ngClass]="{'ArabicRight': languageCode === 'ar'}">
                            <img class="catLine searchCatList" src="{{cat.activeimage}}"  onError="this.src='assets/images/lazyLoad.png';">
                            <span class="titleName">
                              <span class="sortColor textEllipse" [ngClass]="{'selectCatSubCat': cat.activeimg == true}">
                                {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                              </span>
                            <!-- <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.deactiveimage}}"> -->
                          </div>
                         </span>
                        </div>
                      </div>
                    </div>
                    <div class="subCatContentList col-xs-12 zeroPadding" *ngIf="subCat && subCat.length > 0" [ngClass]="{'floatNone': languageCode === 'ar'}">
                      <div class="listBrowseTitle">{{home.subCat}}</div>
                      <div class="catgoryList subCatFilter popupScreenFilter col-xs-12 categoryListForSearch">
                        <div class="sideListLi textEllipse1 displayUnset zeroPadding" [class.active]="cat.activeimg == true"
                          *ngFor="let cat of subCat; let i = index;">
                          <div class="col-xs-12 zeroPadding" >
                            <span class="mulTiCancel" *ngIf="cat.activeimg == true" (click)="cancelsubCat(i)">
                              <img class="tickIcon" src="assets/images/tick.svg" >
                            </span>
                           <span class="catSubCategoryDetails" (click)="subCategory(i)">
                            <div class="imgTitle" [ngClass]="{'ArabicRight': languageCode === 'ar'}">
                              <img class="catLine searchCatList" src="{{cat.imageUrl}}"  onError="this.src='assets/images/lazyLoad.png';">
                              <span class="titleName">
                                <span class="sortColor textEllipse" [ngClass]="{'selectCatSubCat': cat.activeimg == true}">
                                  {{cat.subCategoryName}} </span>
                              </span>
                              <!-- <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.deactiveimage}}"> -->
                            </div>
                           </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subCatContentList col-xs-12 zeroPadding"
                      *ngIf="catSubFilter && catSubFilter.length > 0">
                      <div class="listBrowseTitle"> Advance Filter</div>
                      <div class="catgoryList advanceCatFilter popupScreenFilter col-xs-12" style="display:table;">
                        <div class="formList col-xs-12  form-group" *ngFor="let list of catSubFilter;let i =index;">
                          <label class="labels col-xs-12 zeroPadding">{{list.fieldName}}
                          </label>
                          <!-- Card #296, dublicate filters-->
                          <div class="col-xs-12 zeroPadding" *ngIf="list.type == 1">
                            <input type="text" class="form-control inputBox" (keyup)="documentTextList($event, i)" (change)="documentTextList($event, i)"
                                placeholder="{{list.fieldName}}">
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 2 && list.filterData">
                            <div class="col-xs-12 zeroPadding listCheckBox" *ngFor="let item of list.filterData;let j =index;">
                                <input type="checkbox" name="{{list.fieldName}}" (click)="documentTextList($event, i, j)" class="inputCheckBox">
                                <label class="">{{item}}</label>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 4 && list.filterData">
                            <div class="col-xs-12 zeroPadding listCheckBox" *ngFor="let item of list.filterData;let j =index;">
                                <input type="radio" name="{{list.fieldName}}" (click)="documentTextList($event, i, j)" class="inputCheckBox1 {{j}}">
                                <label class="">{{item}}</label>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 5 || list.type == 3">
                            <div class="sideListLiFilter col-xs-12 form-group zeroPadding">
                                <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">{{home.from}}</div>
                                <div class="col-xs-8 col-sm-10 zeroPadding">
                                    <input type="number" min="0"  class="form-control froms" (keyup)="documentTextList($event, i, 0)" (change)="documentTextList($event, i)"
                                        placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\assets/images*)\./g, '$1');">
                                </div>
                            </div>
                            <div class="sideListLiFilter col-xs-12 zeroPadding">
                                <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">{{home.to}}</div>
                                <div class="col-xs-8 col-sm-10 zeroPadding">
                                    <input type="number" min="0"  class="form-control tos" (keyup)="documentTextList($event, i, 1)" (change)="documentTextList($event, i)"
                                        placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\assets/images*)\./g, '$1');">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 6">
                            <select name="" id="selCat" #valChecked class="form-control inputBox" (change)="documentTextList($event, i,valChecked.value)">
                                <option value="" disabled>{{home.select}} {{list.fieldName}}</option>
                                <option value="{{lists}}" *ngFor="let lists of list.filterData;trackBy: trackByIndex;">{{lists}}</option>
                            </select>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listBrowseTitle"> {{home.distance}}</div>
                  <ul class="sideList listnone distanceList zeroPadding marginPadding" *ngIf="catList">
                    <li class="sideListLi textEllipsee">
                      <span class="lnr lnr-home pull-left"></span>
                      <span id="slidecontainer">
                        <input type="range" min="0" step="10" max="50" value="0" class="slider_range" id="myRange" #inF
                          (change)="milesDistance(inF.value)">
                        <div class="distanceCalculatorList colorGray col-xs-12 zeroPadding" style="font-size: 11px;">
                          <span class="col-xs-2" style="padding:0 0 0 10px;color: #e3e3e3;">|</span>
                          <span class="col-xs-2 zeroPadding text-center">10</span>
                          <span class="col-xs-2 zeroPadding text-center">20</span>
                          <span class="col-xs-2 zeroPadding text-center">30</span>
                          <span class="col-xs-2 zeroPadding text-center">40</span>
                          <span class="col-xs-2 zeroPadding text-right">+50</span>
                        </div>
                      </span>
                      <span class="lnrr lnr-bicyclee pull-right" style="width: 15%;">
                        {{home.max}}
                        <br>
                        <span class="kmDistance">{{home.km}}</span>
                      </span>
                    </li>
                  </ul>
                  <ul class="sideList listnone padMore marginPadding" *ngIf="!catList">
                    <li class="sideListLi">
                      <a class="textDecoration colorGrayLight">{{home.noCategory}}</a>
                    </li>
                    <!-- <li class="sideListLi">
                            <a class="textDecoration colorGrayLight" routerLink="./search">
                                <img class="catLine" src="assets/images/othersLine.png">Others</a>
                        </li> -->
                  </ul>

                  <div class="listBrowseTitle"> {{home.sortBy}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <li class="sideListLi textEllipse1" (click)="sortPrice('newFirst', 0)">
                      <input type="radio" class="radioClass" name="sortPrice">
                      <span class="sortColor"> {{home.newestFirst}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('closestFirst')">
                      <input type="radio" class="radioClass" name="sortPrice">
                      <span class="sortColor"> {{home.closestFirst}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('lowToHigh')">
                      <input type="radio" class="radioClass" name="sortPrice">
                      <span class="sortColor"> {{home.lowToHighPrice}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('highToLow')">
                      <input type="radio" class="radioClass" name="sortPrice">
                      <span class="sortColor"> {{home.highToLowPrice}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                  </ul>


                  <div class="listBrowseTitle"> {{home.postedWithin}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <!-- card#344, issue: Website - Sidebar advanced filters sort by do not work,fixedBy: sowmyaSv, date: 21-1-20 -->
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(0, 1)">
                      <input type="radio" class="radioClass" name="postedWithin">
                      <span class="sortColor"> {{home.allListings}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(1, 2)">
                      <input type="radio" class="radioClass" name="postedWithin">
                      <span class="sortColor"> {{home.last24Hours}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(2, 3)">
                      <input type="radio" class="radioClass" name="postedWithin">
                      <span class="sortColor"> {{home.last7Days}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(3, 4)">
                      <input type="radio" class="radioClass" name="postedWithin">
                      <span class="sortColor"> {{home.last30Days}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                  </ul>


                  <div class="listBrowseTitle"> {{home.price}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding">{{home.currency}}</div>
                      <div class="col-xs-8 zeroPadding">
                        <select class="cursorPointer col-xs-12 zeroPadding" name="currency" [(ngModel)]="currency" #sC
                          (change)="selectCurrency(sC.value);">
                          <option *ngFor="let item of currencyList;trackBy: trackByIndex;" value="{{item.value}}">
                            {{item.text}}
                          </option>

                        </select>
                      </div>
                    </li>
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding distanceMinMax">{{home.from}}</div>
                      <div class="col-xs-8 zeroPadding">
                        <input type="number" min="0" class="form-control from1 zeroPadding" #mip
                          (change)="minimumPrice(mip.value)" (keyup)="numberDitchit(mip.value)"
                          (keyup.enter)="minimumPrice(mip.value)" id="fromToPricingInput" placeholder="{{home.price}}">
                      </div>
                    </li>
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding distanceMinMax">To</div>
                      <div class="col-xs-8 zeroPadding">
                        <input type="number" min="0" class="form-control to1 zeroPadding" #mxp
                          (change)="maximumPrice(mxp.value)" (keyup)="numberDitchit1(mxp.value)"
                          (keyup.enter)="maximumPrice(mxp.value)" id="fromToPricingInput" placeholder="{{home.price}}">
                      </div>
                    </li>
                  </ul>
                  <div class="listBrowseTitle backGroundMain" style="border:0;height: 70px;"></div>
                  <br><br><br><br><br><br>
                  <h5 class="col-xs-12 text-center" style="color: #FF4081;" *ngIf="errMsg"> {{errMsg}}</h5>
                  <br><br><br>
                  <!-- <div class="filterButton col-xs-12 text-center">
                    <div class="loader loginPage loaderGif" *ngIf="loaderButton" style="top: 10px !important;">
                    </div>
                    <span class="buttonPopupFilter" (click)="filterToggle()">{{home.saveFilters}}</span>
                  </div> -->
                  <br><br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-10 mobileMargin" id="filterResultsSec">
            <div class="row">
              <div class="sideDetails col-sm-4 col-md-3 col-lg-2 form-group paddingLeft" id="sideDetailsId">
                <div class="browseListCat allListRecent boxShadowList zeroPadding">
                  <div class="filtersHeader visible-xs visible-sm">
                    <div class="col-xs-4 cancelCont">
                      <span class="" (click)="postedWithinList(0, 0)">{{home.cancel}}</span>
                    </div>
                    <div class="col-xs-4 filtersCont">
                      <span class="">{{home.filters}}</span>
                    </div>
                    <div class="col-xs-4 resetCont">
                      <span class="" (click)="postedWithinList(10, 10)">{{home.reset}}</span>
                    </div>
                  </div>
                  <div class="listBrowseTitle"> {{home.location}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding" *ngIf="catList">
                    <li class="sideListLi textEllipse" (click)="checkLocation();">
                      <span class="ion-ios-location" style="font-size:20px;"></span>
                     
                      <span class="titles">
                        <span class="location">{{home.setLocation}}</span>
                      </span>
                     
                      <input type="hidden" name="" value="" id="lati" class="headerSearch form-control">
                      <input type="hidden" name="" value="" id="lngi" class="headerSearch form-control">
                      <input type="hidden" name="" value="" id="cityAreai" class="headerSearch listNew form-control">
                    </li>
                    <li class="sideListLi textEllipse changLocates text-center" (click)="checkLocation();">
                      <div class="col-xs-12 zeroPadding changLocate">{{home.setLocation}}</div>
                    </li>
                  </ul>
                  <div class="filterCateList col-xs-12 zeroPadding">
                    <div class="listBrowseTitle"> {{home.categories}}</div>
                   
                    <div class="catgoryList popupScreenFilter col-xs-12 disCoverModal " *ngIf="catList" [ngClass]="{'floatNone': languageCode === 'ar'}">
                      <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true"
                        *ngFor="let cat of catList; let i = index;">
                        <span class="mulTiCancel" *ngIf="cat.activeimg == true" (click)="cancelCat(i)">
                         
                          <img class="tickIcon" src="assets/images/tick.svg">
                        </span>
                        <div class="col-xs-12 zeroPadding" (click)="searchCategoryName(cat.name, i,0)">
                          <div class="imgTitle">
                            <img class="catLine" src="{{cat.activeimage}}">
                          
                          </div>
                          <div class="titleName">
                            <span class="sortColor col-xs-12 zeroPadding textEllipse">
                              {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subCatContentList col-xs-12 zeroPadding" *ngIf="subCat && subCat.length > 0" [ngClass]="{'floatNone': languageCode === 'ar'}">
                      <div class="listBrowseTitle"> {{home.subCat}}</div>
                      <div class="catgoryList subCatFilter popupScreenFilter disCoverModal  col-xs-12">
                        <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true"
                          *ngFor="let cat of subCat; let i = index;">
                          <span class="mulTiCancel" *ngIf="cat.activeimg == true" (click)="cancelsubCat(i)">
                           
                            <img class="tickIcon" src="assets/images/tick.svg">
                          </span>
                          <div class="col-xs-12 zeroPadding" (click)="subCategory(i)">
                            <div class="imgTitle">
                              <img class="catLine" src="{{cat.imageUrl}}">
                             
                            </div>
                            <div class="titleName">
                              <span class="sortColor col-xs-12 zeroPadding textEllipse">
                                {{cat.subCategoryName}} </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subCatContentList col-xs-12 zeroPadding"
                      *ngIf="catSubFilter && catSubFilter.length > 0">
                      <div class="listBrowseTitle"> Advance Filter</div>
                      <div class="catgoryList advanceCatFilter popupScreenFilter col-xs-12" style="display:table;">
                        <div class="formList col-xs-12  form-group" *ngFor="let list of catSubFilter;let i =index;">
                          <label class="labels col-xs-12 zeroPadding">{{list.fieldName}}
                           
                          </label>
                          <div class="col-xs-12 zeroPadding" *ngIf="list.type == 1">
                            <input type="text" class="form-control inputBox" (keyup)="documentTextList($event, i)" (change)="documentTextList($event, i)"
                                placeholder="{{list.fieldName}}">
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 2 && list.filterData">
                            <div class="col-xs-12 zeroPadding listCheckBox" *ngFor="let item of list.filterData;let j =index;">
                                <input type="checkbox" name="{{list.fieldName}}" (click)="documentTextList($event, i, j)" class="inputCheckBox">
                                <label class="">{{item}}</label>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 4 && list.filterData">
                            <div class="col-xs-12 zeroPadding listCheckBox" *ngFor="let item of list.filterData;let j =index;">
                                <input type="radio" name="{{list.fieldName}}" (click)="documentTextList($event, i, j)" class="inputCheckBox1 {{j}}">
                                <label class="">{{item}}</label>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 5 || list.type == 3">
                            <div class="sideListLiFilter col-xs-12 form-group zeroPadding">
                                <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">{{home.from}}</div>
                                <div class="col-xs-8 col-sm-10 zeroPadding">
                                    <input type="number" min="0"  class="form-control froms" (keyup)="documentTextList($event, i, 0)" (change)="documentTextList($event, i)"
                                        placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\assets/images*)\./g, '$1');">
                                </div>
                            </div>
                            <div class="sideListLiFilter col-xs-12 zeroPadding">
                                <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">{{home.to}}</div>
                                <div class="col-xs-8 col-sm-10 zeroPadding">
                                    <input type="number" min="0"  class="form-control tos" (keyup)="documentTextList($event, i, 1)" (change)="documentTextList($event, i)"
                                        placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\assets/images*)\./g, '$1');">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 zeroPadding" *ngIf="list.type == 6">
                            <select name="" id="selCat" #valChecked class="form-control inputBox" (change)="documentTextList($event, i,valChecked.value)">
                                <option value="" disabled>{{home.select}} {{list.fieldName}}</option>
                                <option value="{{lists}}" *ngFor="let lists of list.filterData;trackBy: trackByIndex;">{{lists}}</option>
                            </select>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listBrowseTitle" style="margin-top: 1em;"> {{home.distance}}</div>
                  <ul class="sideList listnone distanceList zeroPadding marginPadding" *ngIf="catList">
                    <li class="sideListLi textEllipsee">
                      <span class="lnr lnr-home pull-left"></span>
                      <span id="slidecontainer">
                        <input type="range" min="0" step="10" max="50" value="0" class="slider_range" id="myRange" #inF
                          (change)="milesDistance(inF.value)">
                        <div class="distanceCalculatorList colorGray col-xs-12 zeroPadding" style="font-size: 11px;">
                          <span class="col-xs-2" style="padding:0 0 0 10px;color: #e3e3e3;">|</span>
                          <span class="col-xs-2 zeroPadding text-center">10</span>
                          <span class="col-xs-2 zeroPadding text-center">20</span>
                          <span class="col-xs-2 zeroPadding text-center">30</span>
                          <span class="col-xs-2 zeroPadding text-center">40</span>
                          <span class="col-xs-2 zeroPadding text-right">+50</span>
                        </div>
                      </span>
                      <span class="lnrr lnr-bicyclee pull-right" style="width: 15%;">
                        {{home.max}}
                        <br>
                        <span class="kmDistance">{{home.km}}</span>
                      </span>
                    </li>
                  </ul>
                  <ul class="sideList listnone padMore marginPadding" *ngIf="!catList">
                    <li class="sideListLi">
                      <a class="textDecoration colorGrayLight">{{home.noCategory}}</a>
                    </li>
                    <!-- <li class="sideListLi">
                            <a class="textDecoration colorGrayLight" routerLink="./search">
                                <img class="catLine" src="assets/images/othersLine.png">Others</a>
                        </li> -->
                  </ul>

                  <div class="listBrowseTitle"> {{home.sortBy}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <!-- card#344, issue: Website - Sidebar advanced filters sort by do not work,fixedBy: sowmyaSv, date: 21-1-20 -->
                    <li class="sideListLi textEllipse1" (click)="sortPrice('newFirst', 0)">
                      <input type="radio" class="radioClass" name="sortPrice" [attr.checked]="priceOrder == 'newFirst'">
                      <span class="sortColor"> {{home.newestFirst}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('closestFirst')">
                      <input type="radio" class="radioClass" name="sortPrice" [attr.checked]="priceOrder == 'closestFirst'">
                      <span class="sortColor"> {{home.closestFirst}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('lowToHigh')">
                      <input type="radio" class="radioClass" name="sortPrice" [attr.checked]="priceOrder == 'lowToHigh'">
                      <span class="sortColor"> {{home.lowToHighPrice}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="sortPrice('highToLow')" >
                      <input type="radio" class="radioClass" name="sortPrice" [attr.checked]="priceOrder == 'highToLow'">
                      <span class="sortColor"> {{home.highToLowPrice}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                  </ul>

                  <div class="listBrowseTitle"> {{home.postedWithin}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(0, 1)">
                      <input type="radio" class="radioClass" name="postedWithin" [attr.checked]="postedWithin == 1">
                      <span class="sortColor"> {{home.allListings}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(1, 2)">
                      <input type="radio" class="radioClass" name="postedWithin" [attr.checked]="postedWithin == 2">
                      <span class="sortColor"> {{home.last24Hours}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(2, 3)">
                      <input type="radio" class="radioClass" name="postedWithin" [attr.checked]="postedWithin == 3">
                      <span class="sortColor"> {{home.last7Days}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                    <li class="sideListLi textEllipse1" (click)="postedWithinList(3, 4)">
                      <input type="radio" class="radioClass" name="postedWithin" [attr.checked]="postedWithin == 4">
                      <span class="sortColor"> {{home.last30Days}} </span>
                      <i class="ion-checkmark-round tickMark color"></i>
                    </li>
                  </ul>


                  <div class="listBrowseTitle"> {{home.price}}</div>
                  <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding">{{home.currency}}</div>
                      <div class="col-xs-8 zeroPadding">
                        <select class="cursorPointer col-xs-12 zeroPadding" name="currency" [(ngModel)]="currency" #sC
                          (change)="selectCurrency(sC.value);">
                          <option *ngFor="let item of currencyList;trackBy: trackByIndex;" value="{{item.value}}">
                            {{item.text}}
                          </option>

                        </select>
                      </div>
                    </li>
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding distanceMinMax">{{home.from}}</div>
                      <div class="col-xs-8 zeroPadding">
                        <input type="number" min="0" class="form-control from1 zeroPadding" #mip
                          (change)="minimumPrice(mip.value)" (keyup)="numberDitchit(mip.value)"
                          (keyup.enter)="minimumPrice(mip.value)" id="fromToPricingInput" placeholder="{{home.price}}">
                      </div>
                    </li>
                    <li class="sideListLi col-xs-12">
                      <div class="col-xs-4 zeroPadding distanceMinMax">To</div>
                      <div class="col-xs-8 zeroPadding">
                        <input type="number" min="0" class="form-control to1 zeroPadding" #mxp
                          (change)="maximumPrice(mxp.value)" (keyup)="numberDitchit1(mxp.value)"
                          (keyup.enter)="maximumPrice(mxp.value)" id="fromToPricingInput" placeholder="{{home.price}}">
                      </div>
                    </li>
                  </ul>
                  <div class="listBrowseTitle backGroundMain" style="border:0;height: 70px;"></div>
                  <h5 class="col-xs-12 text-center" style="color: #FF4081;" *ngIf="errMsg"> {{errMsg}}</h5>
                  <div class="filterButton text-center">
                    <div class="loader loginPage loaderGif" *ngIf="loaderButton" style="top: 10px !important;"></div>
                    <span class="buttonPopupFilter" (click)="filterToggle()">{{home.saveFilters}}</span>
                  </div>
                  <!-- <div class="col-xs-12">
                    <div class="sideListLi col-xs-12">
                        <div class="zeroPadding distanceMinMax col-xs-4" [ngClass]="{'ArabicRight': languageCode === 'ar'}">{{home.to}}</div>
                        <div class="zeroPadding col-xs-8">
                            <input type="number" min="0" class="form-control to1 zeroPadding fromToPricingInput" #mxp (change)="maximumPrice(mxp.value)" (keyup)="numberDitchit1(mxp.value)"
                                (keyup.enter)="maximumPrice(mxp.value)" id="fromToPricingInput" placeholder="{{home.price}}">
                        </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-9 col-lg-12 col-xs-12 ">
                  <div class="row" *ngIf="showWorldData">
                      <div class="col-xs-12 noProductsSec text-center">
                        <h4 class="noProductsTitle">{{home.sorry}}</h4>
                        <h2 class="noProductsTitleDesc">{{home.weSorry}}</h2>
                        <div>
                          <button class="btn btn-primary homeBtnCustom" routerLink="/">{{home.backHome}}</button>
                        </div>
                      </div>
                    </div>
                <div class="filterRecent col-xs-12 zeroPadding viewHeight" (scroll)="loadMoreItems()"> 
                  <div class="recentList">
                      <!-- <div class="listHeaderTitle col-xs-12 col-sm-offset-2 col-sm-10 zeroPadding form-group">
                      <div class="boxDefault marginPadding">Recent items near
                          <b class="recentCity"></b>
                      </div>
                  </div> -->
                      <div class="recentItemCollection" id="columns" *ngIf="allList && allListData && !listsLength">
                          <figure class="listImageItem boxShadowList displayBlock" *ngFor="let list of allList;trackBy: trackByIndex;">
                              <div class="allListRecent cursorPointer" (click)="itemDetails(list.postId, list.productName)">                                
                                  <img src="assets/images/featured.svg" class="mikeSound" *ngIf="list.isPromoted == 1">
                                  <img src="assets/images/swaped.svg" class="isSwap" *ngIf="list.isSwap == 1">
                                  <div class="imgRecent">
                                      <!-- <i class="mikeSound"></i> -->
                                      <a>
                                        <img class="" width="200" height="200" src="{{list.mainUrl}}"  onError="this.src='defaultImage';" alt="{{list.seoTitle}}" title="{{list.seoTitle}}">
                                          <!-- <img class="" [defaultImage]="defaultImage" [lazyLoad]="list.mainUrl" [offset]="offsetImg" alt="{{list.seoTitle}}" title="{{list.seoTitle}}"> -->
                                      </a>
                                      <!-- <div class="lineColor col-xs-6 zeroPadding"></div> -->
                                  </div>
                                  <div class="recentContentList col-xs-12">
                                      <div class="itemPrice col-xs-12 zeroPadding" *ngIf="list.price">
                                          <span class="colorGrayLight" style="font-weight:600;">{{getDirhamCurrencyPrice(list)}} {{list.currency}}</span>
                                      </div>
                                      <div class="itemTitle col-xs-12 zeroPadding">{{list.productName}}</div>
                                      <div class="itemTitle col-xs-12 textEllipse" *ngIf="list.isSwap == 1 && list.swapPost && list.swapPost.length > 0">Swap For:
                                          <span *ngFor="let swap of list.swapPost;trackBy: trackByIndex;">
                                              <span *ngIf="swap.swapTitle; else free_title">{{swap.swapTitle}},</span>
                                              <ng-template #free_title><span>{{home.free}}</span></ng-template>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="OwnerInfo col-xs-12">
                                      <div class="itemDistance textEllipse col-xs-12 zeroPadding" *ngIf="list.place != null">
                                          <img class="mapIcon veticalTop" src="assets/images/map.svg" style="width: 14px;">
                                          <!-- · <span class="milesList" *ngIf="list.distance != null">{{list.distance.toFixed(2)}} {{home.miles}}</span> -->
                                          <span class="textTrans" *ngIf="list.place != null">{{list.place}}, {{list.countrySname}}</span>
                                      </div>
                                      <!-- <div class="itemDistance textEllipse col-xs-12 zeroPadding" *ngIf="list.city == null && list.distance == null && list.place">
                                          <img *ngIf="list.city == null && list.distance == null && list.place" class="mapIcon veticalTop" src="assets/images/map.svg" style="width: 14px;">
                                          · <span class="milesList" *ngIf="list.distance != null">{{list.distance.toFixed(2)}} {{home.miles}}</span>
                                          <span class="textTrans" *ngIf="list.city == null && list.distance == null && list.place">{{list.place}}, {{list.countrySname}}</span>
                                      </div> -->
    
                                      <!-- <span class="OwnerInfoPic"><img class="OwnerInfoImg" src="{{list.profilePicUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';"></span>
                                  <span class="OwnerInfoTitle">{{list.postedByUserFullName}}</span> -->
                                  </div>
                              </div>
                          </figure>
                      </div>
                      <div class="col-xs-12 loaderList" id="columns" *ngIf="!allListData" [ngClass]="{'viewHeight': listsLength && allList}">
                          <div class="loaderGif"></div>
                      </div>
                  </div>
              </div>
              </div>
      
            </div>
            <!-- <div class="row" *ngIf="allList && allList.length <= 0">
              <div class="col-xs-12 noProductsSec text-center">
                <h4 class="noProductsTitle">{{home.sorry}}</h4>
                <h2 class="noProductsTitleDesc">We are showing stuffs around the world</h2>
                <div>
                  <button class="btn btn-primary homeBtnCustom" routerLink="/">Home</button>
                </div>
              </div>
            </div> -->
          
            <!-- <div class="flexMain" *ngIf="allList && allList.length > 0">
              <div class="flexChild" *ngFor="let list of allList;let i = index;"
                (click)="itemDetails(list.postId, list.productName)">
                <div class="flexChildInner cursorPointer" (click)="itemDetails(list.postId, list.productName)">
                  <div class="imgFigure">
                    <a routerLink="{{list.productName.split(' ').join('-')}}/{{list.postId}}">
                      <img class="titleImg" [defaultImage]="defaultImage" [lazyLoad]="list.mainUrl" [offset]="offsetImg"
                        alt="{{list.seoTitle}}" title="{{list.seoTitle}}">
                    </a>
                  </div>
                  <div class="descText">
                    <div class="currencySec" *ngIf="list.price">
                      <span class="colorGrayLight colorGrayLightBt" style="font-weight:600;">{{list.currency}}
                        {{list.price.toFixed(2)}}</span>
                    </div>
                    <div class="">
                      <h5 class="titleTagH5">{{list.productName}}</h5>
                    </div>
                    <div class="">
                      <div class="textEllipse locationBtCard" *ngIf="list.city != null || list.distance != null">
                        <img class="mapIcon" src="assets/images/map.svg" style="width: 14px;">
                        <span class="textTrans" *ngIf="list.city != null">{{list.city}},
                          {{list.countrySname}}</span>
                      </div>
                    </div>
                    <div class="textEllipse swapColor swapColorNormalBt" *ngIf="list.isSwap == 1 && list.swapPost">Swap
                      For:
                      <span *ngFor="let swap of list.swapPost"> {{swap.swapTitle}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- sell popup -->
  <div class="modal fade playVideoItWorks" id="howItWorksVideo" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">

      <!-- Modal content-->
      <div class="modal-content col-xs-12 zeroPadding">
        <div class="modal-body col-xs-12 zeroPadding">
          <button type="button" class="close" data-dismiss="modal"
            style="font-size: 30px;font-weight:200;">&times;</button>
        </div>
      </div>

    </div>
  </div>

  <!-- sell on popup -->
  <div class="modal fade" id="sellModalhow" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">

      <!-- Modal content-->
      <div class="modal-content col-xs-12 zeroPadding">
        <div class="modal-body sellPopup col-xs-12 zeroPadding">
          <button type="button" class="close" data-dismiss="modal" style="color:initial;">&times;</button>
          <div class="col-xs-12 contentSell" *ngIf="!succesSeller">
            <h1 class="text-center colorGray">{{home.sendAppLink}}</h1>
            <div class="phonOrEmail col-xs-12 padMore text-center" *ngIf="!howPopupSuccess">
              <div class="emailList col-xs-12 zeroPadding">
                <img class="howPopupImg" src="https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/howEmail.png">
                <input type="text" name="sellEmail" [(ngModel)]="sellEmail" #hv (keyup)="emailValidation(hv.value)"
                  (change)="emailValidation(hv.value)" class="inputEmail form-control input-lg"
                  placeholder="{{emailPlaceHolder}}">
              </div>
              <h5 class="errorMsg" *ngIf="email_Error">{{home.provideValidEmail}}</h5>
              <div class="colorGray col-xs-12 zeroPadding">
                <b>or</b>
              </div>
              <div class="phoneList col-xs-12 zeroPadding form-group">
                <img class="howPopupImg" src="{{howPhone}}">
                <input type="text" name="sellPhone" [(ngModel)]="sellPhone" #hp (keyup)="mobileValidation(hp.value)"
                  (change)="mobileValidation(hp.value)" class="inputEmail form-control input-lg"
                  placeholder="123-456-7890">
              </div>
              <h5 class="errorMsg" *ngIf="phone_Error">{{home.enterNumberCountryCode}} </h5>
              <h5 class="errorMsg" *ngIf="PEerror">{{PEerror}}</h5>
              <div class="sendSell submitLogin col-xs-12 zeroPadding">
                <button type="button" class="btn btnSubmit" (click)="sellHowSend()"
                  [disabled]="!(registerSave)">{{home.send}}</button>
              </div>
            </div>
            <div class="successTextHow col-xs-12 padMore text-center" *ngIf="howPopupSuccess">
              <h3>{{home.recentRequestApp}}</h3>
              <p style="margin-top:20px">{{home.minsToReceive}}</p>
              <p>{{home.wait5Mins}}
                <br> {{home.makeOtherRequest}}</p>
            </div>
          </div>
          <div class="col-xs-12 sellMobileImg text-center" *ngIf="succesSeller">
            <br>
            <br>
            <br>
            <h1 class="sizeLarge">{{home.thankYou}}</h1>
            <h1 class="sizeMedium">{{home.minsToReceive}}</h1>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- current location -->
  <div class="modal fade homeLocation" id="locationMap" data-backdrop="static" data-keyboard="false" role="dialog"
    style="background-color: rgba(255, 255, 255, 0.7)">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="display:inline-block;width:100%;">
          <div class="mapLocation">
            <div class="locateTitle">
              <span class="closeIcon" data-dismiss="modal" style="">X</span>
              <span class="title">{{home.changeLocation}}</span>
            </div>
            <div class="listInput">
              <span class="ion-search ionsLocate" style="font-size:20px;"></span>
              <input type="text" class="location  addressArea form-control" id="changeLocationId" (keyup)="changeLocation($event)" (change)="changeLocation($event)"
              placeholder="{{home.changeLocation}}" value="">
              <span class="ion-android-locate ionsLocate" style="font-size:20px;" (click)="setCurrentLocation()"></span>
            </div>
            <div class="mapData" id="mapData"></div>
            <div class="setLocation col-xs-12 zeroPadding" data-dismiss="modal" (click)="locationChange1();">
              <span class="btnLocate">{{home.setLocation}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>