<title>{{trust.trustTitle}}</title>

<div class="allDetailsList col-xs-12 zeroPadding mainContainerForAll" style="margin-top:55px;">
  <div class="col-xs-12 text-center zeroPadding" style="background:#fff;">
    <div class="container padMoree">
      <span class="menuSecondary active"><a class="textDecoration" routerLink="../{{languageCode}}/trust">{{trust.trust}}</a></span>
      <!--<span class="menuSecondary"><a class="colorGrayLight textDecoration" routerLink="../community"> Community </a></span>
      <span class="menuSecondary"><a class="colorGrayLight textDecoration" routerLink="../standards">Community Standards</a></span>-->
    </div>
    <div class="aboutCover trustCover textShadow col-xs-12 zeroPadding text-center">
      <h1 class="aboutTextImage">{{trust.trustworthiness}} <br> {{trust.communityWorld}} </h1>
    </div>
  </div>
  <div class="allDescriptionList trustList col-xs-12 zeroPadding">
    <div class="container">
      <div class="boxAlt ourStoryList col-xs-12 zeroPadding form-group" style="margin-top: 40px;">
        <div class="sizeText col-xs-12" style="padding-bottom: 50px;">
          <h3 class="colorGray sizeLarge"> {{trust.buildLocalMarket}} <br> {{trust.wellBeing}}</h3>
          <div class="dashLst"></div>
          <p>{{trust.obsessingText}}.
          </p>
          <!--<span class="col-xs-12 col-sm-6 zeroPadding cursorPointer textDecorationLine colorGreen">More about Buyer Safety <i class="ion-arrow-right-b"></i></span>
          <span class="col-xs-12 col-sm-6 zeroPadding cursorPointer textDecorationLine colorGreen">More about Seller Safety <i class="ion-arrow-right-b"></i></span>-->
        </div>
      </div>      
      <div class="trustCoverOne col-xs-12 zeroPadding form-group">
        <h1 class="text-center colorWhite" style="padding-top: 70px;"> {{trust.trustNeighbours}} <br> {{trust.careVigilant}}  </h1>
      </div>

      <div class="alltipsList col-xs-12 zeroPadding">
        <div class="col-xs-12 col-sm-6 text-center form-group paddingLeft">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-person iconTips"></i>
            <h3>{{trust.userProfiles}}</h3>
            <p class="colorGrayLight">{{trust.profileOpportunity}}.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center form-group paddingRight">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-ios-list iconTips"></i>
            <h3>{{trust.verificationID}}</h3>
            <p class="colorGrayLight">{{trust.secureIdentity}}.
            </p>
            <!--<div class="cursorPointer textDecorationLine colorGreen">Learn More</div>-->
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center form-group paddingLeft">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-ios-star iconTips"></i>
            <h3>{{trust.userRatings}}</h3>
            <p class="colorGrayLight">{{trust.seeHowMany}}.</p>
            <!--<div class="cursorPointer textDecorationLine colorGreen">Learn More</div>-->
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center form-group paddingRight">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-ios-chatbubble iconTips"></i>
            <h3>{{trust.appMessaging}}</h3>
            <p class="colorGrayLight">
              {{trust.securelyCommunicate}}.
            </p>
            <!--<div class="cursorPointer textDecorationLine colorGreen">Learn More</div>-->
          </div>
        </div>

        <div class="trustCovertwo col-xs-12 zeroPadding form-group">
          <h1 class="text-center colorWhite" style="padding-top: 70px;"> {{trust.winningGame}} </h1>
        </div>

        <div class="col-xs-12 col-sm-6 text-center form-group paddingLeft">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-thumbsup iconTips"></i>
            <h3>{{trust.buyingTips}}</h3>
            <p class="colorGrayLight">{{trust.coverBasics}}.
            </p>
            <!--<div class="cursorPointer textDecorationLine colorGreen">Learn More</div>-->
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center form-group paddingRight">
          <div class="boxAlt tipsConent col-xs-12">
            <i class="colorGreen ion-pricetag iconTips"></i>
            <h3>{{trust.sellingTips}}</h3>
            <p class="colorGrayLight">
              {{trust.overBasics}}.
            </p>
            <!--<div class="cursorPointer textDecorationLine colorGreen">Learn More</div>-->
          </div>
        </div>

      </div>
    </div>
    <div class="boxAlt letusKnowDetails col-xs-12 zeroPadding form-group">
      <div class="col-xs-12 col-sm-6 zeroPadding trustCoverthree">
      </div>
      <div class="col-xs-12 col-sm-6 padMore2 trustCoverthreeContent">
        <h3 class="colorGray"> {{trust.letUsKnow}}</h3>
        <div class="dashLst"></div>
        <h4 class="colorGray">{{trust.customerExperts}}</h4>
        <p>{{trust.hereToHelp}}.
        </p>
        <h4 class="colorGray">{{trust.customerExperts}}</h4>
        <p>{{trust.workClosely}}.
        </p>
        <p>{{trust.assistLaw}}
        </p>
      </div>
    </div>
    <div class="questionTrust col-xs-12 zeroPadding">
      <div class="container">
        <div class="boxAlt padMore2 col-xs-12 text-center" style="margin-bottom: 30px;">
          <p class="colorGray sizeLarge">{{trust.haveQuestions}} <br> {{trust.visitOur}} <a class="textDecorationLine colorGreen" routerLink="../{{languageCode}}/help">{{trust.helpCenter}}</a> {{trust.learnMore}}.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>