@media (min-width: 1200px){
    .allItemDetails .container {
        /* width: 970px !important; */
    }
}

#mapItemPopup #map { 
 height:400px;
}

#map_canvas, #map {              
    height:100px;
    width: 100%;
    display: inline-block;
 }
  /* Card #97 , map contanier height increased with 200px */
 .mapList #map_canvas {
     width: 100%;
     height: 200px;
}