<title>{{resetPass.passwordResetTitle}}</title>
<div class="container-dark">

</div>
<div class="container-mid-float mainContainerForAll">
  <div class="  clear-fix text-center">
    <div class="reg-signup-intro-text">
      <!-- <p>
        <span class="intro-logo">
          <img src="{{resetPass.resetPasswordlogoBottom}}" width="132">
        </span> {{resetPass.startBuyCrypto}}</p> -->
    </div>
  </div>

  <div class=" form-box clear-fix">

    <div class="col-lg-7 col-md-6 col-sm-12 fix-height form-side-banner padding-zero hide-for-smallscreen">
      <img class="fix-height" src="{{resetPass.formBackground}}">
    </div>

    <div class="col-lg-5 col-md-6 col-sm-12 fix-height background-fade ">
      <div class="col-md-12">
        <div class="emptydiv70"></div>
      </div>
      <div class="col-md-12 forget-header">
        <div class="form-logo text-center">
          <img src="{{resetPass.resetPasswordLogo}}" style="width:140px;vertical-align: top;">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center forgot-password">
          <div>
            <h4>{{resetPass.forgotPassword}}</h4>
          </div>

          <div class="reset-info">
            <p>{{resetPass.recoverPassword}}.</p>
            <p>{{resetPass.receiveLink}}.</p>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="input-form ">
          <div class="col-md-12 text-muted input-div pad20">
            <div class="col-md-5">
              <p class="input-header pad-top-5">{{resetPass.email}}</p>
            </div>
            <div class="col-md-7">
              <input type="text" [(ngModel)]="email" #re (keyup)="emailValidation(re.value)" (change)="emailValidation(re.value)">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button class="sign-up sign-in-button" (click)="resetPassword()">{{resetPass.submit}}</button>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="loader loginPage loaderGif" *ngIf="loaderButton"></div>
        <p class="errorMsg" *ngIf="registerErrMsg">{{registerErrMsg}}</p>
      </div>

    </div>

  </div>
</div>