<header></header>
<router-outlet (activate)="onActivate()"></router-outlet>
<footer></footer>
<!-- 
    <ngx-masonry>
        <div ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems">
         {{item.title}}
       </div>
      </ngx-masonry> -->

      <!-- <div class="masonry-demo">
          <div class="links">
            <a href="https://github.com/gethinoakes/ngx-masonry" target="_blank">View on Github</a>
            <a class="github-button" href="https://github.com/gethinoakes/ngx-masonry" data-size="large" data-show-count="true" aria-label="Star gethinoakes/ngx-masonry on GitHub">Star</a>
          </div>
          <h1>Ngx Masonry Demo</h1>
        
          <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
            <ngxMasonryItem  *ngFor="let picture of masonryImages" class="masonry-item">
              <img src="{{picture.picture}}">
            </ngxMasonryItem >
          </ngx-masonry>
        
          <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
          <h2 *ngIf="limit >= 100">No More Images</h2>
        </div> -->
