<title *ngIf="data">{{data.title}}</title>
<div class="privacyTotal allInnerContent text-center col-xs-12 zeroPadding mainContainerForAll">
  <br>
  <br>
  <br>
  <div class="container contentPage" [innerHTML]="terms">
    
  </div>

</div>