<title *ngIf="data">{{data.title}}</title>

<div class="placeHolderShimmer col-xs-12 zeroPadding" [hidden]="allListData">
    <div class="linear-background sliders mb-5"></div>
    <div class="col-xs-12">
        <!-- <div class="col-xs-12 col-sm-4 col-md-3 p-0 hidden-xs">
            <div class="carouselList" *ngFor="let list of shimmer">
                <div class="linear-background big mb-2 col-xs-12 col-sm-6"></div>
                <div class="linear col-xs-12 mb-4">
                    <div class="linear-background big mb-2 col-xs-12"></div>
                    <div class="linear-background big mb-2 col-xs-12"></div>
                    <div class="linear-background big mb-2 col-xs-12"></div>
                    <div class="linear-background big mb-2 col-xs-12"></div>
                    <div class="linear-background big mb-2 col-xs-12"></div>
                    <div class="linear-background big mb-2 col-xs-12"></div>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12">
            <div class="linear col-xs-6 col-sm-4 col-md-3" *ngFor="let list of shimmer">
                <div class="linear-background big mb-2"></div>
                <div class="linear-background small mb-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="YeloHome leftResult col-xs-12 zeroPadding" [hidden]="!allListData" >
    <div class="catgoryList col-xs-12" *ngIf="catList && !catSelectList">
        <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true" *ngFor="let cat of catList; let i = index;">
            <span class="mulTiCancel" (click)="cancelCat();" *ngIf="cat.activeimg == true">X</span>
            <div class="col-xs-12 zeroPadding" (click)="searchCategoryName(cat.name, i, 0)">
                <div class="imgTitle">
                    <img class="catLine" src="{{cat.activeimage}}" onError="this.src='assets/images/lazyLoad.png';">
                    <!-- <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.deactiveimage}}"> -->
                </div>
                <div class="titleName">
                    <span class="sortColor col-xs-12 zeroPadding textEllipse" *ngIf="cat.name"> {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                </div>
            </div>
        </div>
    </div>

    <div class="catgoryList selectList col-xs-12" *ngIf="selectCatList && catSelectList">
        <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true" *ngFor="let cat of selectCatList; let i = index;">
            <span class="mulTiCancel" (click)="cancelCats(i);" *ngIf="cat.activeimg == true">
                <!-- <i class="ion-checkmark-round tickMark color"></i> -->
                <img  routerLink="" class="tickIcon" src="assets/images/tick.svg">
            </span>
            <div class="col-xs-12 zeroPadding">
                <div class="imgTitle" [ngClass]="{'selectedCat': i === 0}">
                    <img class="catLine" *ngIf="cat.activeimage || cat.activeimg" src="{{cat.activeimage}}" onError="this.src='assets/images/lazyLoad.png';">
                    <img class="catLine" *ngIf="cat.imageUrl" src="{{cat.imageUrl}}" onError="this.src='assets/images/lazyLoad.png';">
                    <!-- <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.deactiveimage}}"> -->
                </div>
                <div class="titleName">
                    <span class="sortColor col-xs-12 zeroPadding textEllipse" *ngIf="cat.name"> {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                    <span class="sortColor col-xs-12 zeroPadding textEllipse" *ngIf="cat.subCategoryName"> {{cat.subCategoryName}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="mainHomeList col-xs-12 zeroPadding">

        <div class="container-fluid">
            <div class="sideDetails col-sm-4 col-md-3 col-lg-2 form-group paddingLeft" id="sideDetailsId">
                <div class="browseListCat allListRecent boxShadowList zeroPadding">
                    <div class="filtersHeader visible-xs">
                        <div class="col-xs-4 cancelCont">
                            <span class="" (click)="postedWithinList(0, 0)">{{home.cancel}}</span>
                        </div>
                        <div class="col-xs-4 filtersCont">
                            <span class="">{{home.filters}}</span>
                        </div>
                        <div class="col-xs-4 resetCont">
                            <span class="" (click)="postedWithinList(10, 10)">{{home.reset}}</span>
                        </div>
                    </div>
                    <div class="listBrowseTitle"> {{home.location}}</div>
                    <ul class="sideList listnone zeroPadding marginPadding" *ngIf="catList">
                        <li class="sideListLi textEllipse" (click)="checkLocation();">
                            <span class="ion-ios-location" style="font-size:20px;"></span>
                            <!-- Change Location -->
                            <span class="titles">
                                <span class="location"></span>
                            </span>
                            <!-- <input type="text" class="location" id="changeLocationId" (keyup)="changeLocation()" (change)="locationChange()" placeholder="Change Location"
                                value="">-->
                            <input type="hidden" name="" value="" id="lati" class="headerSearch form-control">
                            <input type="hidden" name="" value="" id="lngi" class="headerSearch form-control">
                            <input type="hidden" name="" value="" id="cityAreai" class="headerSearch listNew form-control">
                        </li>
                        <li class="sideListLi textEllipse changLocates text-center" (click)="checkLocation();">
                            <div class="col-xs-12 zeroPadding changLocate">{{home.changeLocation}}</div>
                        </li>
                    </ul>
                    <div class="filterCateList col-xs-12 zeroPadding">
                        <div class="listBrowseTitle"> {{home.categories}}</div>
                        <!-- <ul class="sideList listnone zeroPadding marginPadding" *ngIf="catList">
                        <div class="col-xs-12 zeroPadding catList" [ngClass]="{'active':loadCateg}">
                            <li class="sideListLi textEllipse1" *ngFor="let cat of catList; let i = index;" (click)="filterItemsBy(cat.name, i)">
                                <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.activeimage}}">
                                <img class="catLine" *ngIf="cat.activeimg == false || cat.activeimg == null" src="{{cat.deactiveimage}}">
                                <input type="checkbox" class="radioClass" name="category">
                                <span class="sortColor"> {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                                <i class="ion-checkmark-round tickMark color"></i>
                            </li>
                        </div>
                        <li class="sideListLi text-center col-xs-12" *ngIf="catList && catList.length >= 10">
                            <span class="color" *ngIf="!loadCateg" (click)="loadCat()"> {{home.showMore}} </span>
                            <span class="color" *ngIf="loadCateg" (click)="loadCat()"> {{home.showLess}} </span>
                        </li>
                    </ul> -->
                        <div class="catgoryList popupScreenFilter col-xs-12" *ngIf="catList" style="top:0px !important;">
                            <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true" *ngFor="let cat of catList; let i = index;">
                                <span class="mulTiCancel" *ngIf="cat.activeimg == true">
                                    <!-- <i class="ion-checkmark-round tickMark color"></i> -->
                                    <button class="disabledCategory"><img class="tickIcon" src="assets/images/tick.svg" routerLink=""></button>
                                 <!-- <button class="disabledCategory" disabled="true"><img class="tickIcon" src="assets/images/tick.svg"></button> -->
                                </span>
                                <div class="col-xs-12 zeroPadding" (click)="searchCategoryName(cat.name, i)">
                                    <div class="imgTitle">
                                        <img class="catLine" src="{{cat.activeimage}}" onError="this.src='assets/images/lazyLoad.png';">
                                        <!-- <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.deactiveimage}}"> -->
                                    </div>
                                    <div class="titleName">
                                        <span class="sortColor col-xs-12 zeroPadding textEllipse"> {{cat.name.charAt(0).toUpperCase() + cat.name.slice(1)}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subCatContentList col-xs-12 zeroPadding" *ngIf="subCat && subCat.length > 0">
                            <div class="listBrowseTitle">{{home.subCat}}</div>
                            <div class="catgoryList subCatFilter popupScreenFilter col-xs-12" style="top:0px !important;">
                                <div class="sideListLi textEllipse1" [class.active]="cat.activeimg == true" *ngFor="let cat of subCat; let i = index;">
                                    <span class="mulTiCancel" *ngIf="cat.activeimg == true" (click)="cancelsubCat(i)">
                                        <!-- <i class="ion-checkmark-round tickMark color"></i> -->
                                        <img class="tickIcon" src="assets/images/tick.svg">
                                    </span>
                                    <div class="col-xs-12 zeroPadding" (click)="subCategory(i)">
                                        <div class="imgTitle">
                                            <img class="catLine" *ngIf="cat.imageUrl" src="{{cat.imageUrl}}">
                                            <img class="catLine" *ngIf="!cat.activeimg" src="assets/images/lazyLoad.png" onError="this.src='assets/images/lazyLoad.png';">
                                            <img class="catLine" *ngIf="cat.activeimg == true" src="{{cat.imageUrl}}" onError="this.src='assets/images/lazyLoad.png';">
                                        </div>
                                        <div class="titleName">
                                            <span class="sortColor col-xs-12 zeroPadding textEllipse"> {{cat.subCategoryName}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subCatContentList col-xs-12 zeroPadding" *ngIf="catSubFilter && catSubFilter.length > 0">
                            <div class="listBrowseTitle">{{home.advanceFilter}}</div>
                            <div class="catgoryList advanceCatFilter popupScreenFilter col-xs-12" style="top:0px !important;">
                                <div class="formList col-xs-12  form-group" *ngFor="let list of catSubFilter;let i =index;">
                                    <label class="labels col-xs-12 zeroPadding">{{list.fieldName}}
                                        <!-- <em class="text-danger" *ngIf="list.isMandatory == 'true'">*</em> -->
                                    </label>
                                    <div class="col-xs-12 zeroPadding" *ngIf="list.type == 1">
                                        <input type="text" class="form-control inputBox" (keyup)="documentTextList($event, i)" (change)="documentTextList($event, i)"
                                            placeholder="{{list.fieldName}}">
                                    </div>
                                    <div class="col-xs-12 zeroPadding" *ngIf="list.type == 2 || list.type == 4 || list.type == 6 && list.filterData">
                                        <div class="col-xs-12 zeroPadding listCheckBox" *ngFor="let item of list.filterData;let j =index;">
                                            <input type="checkbox" name="{{list.fieldName}}" (click)="documentTextList($event, i, j)" class="inputCheckBox">
                                            <label class="">{{item}}</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 zeroPadding" *ngIf="list.type == 5 || list.type == 3">
                                        <div class="sideListLiFilter col-xs-12 form-group zeroPadding">
                                            <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">{{home.from}}</div>
                                            <div class="col-xs-8 col-sm-10 zeroPadding">
                                                <input type="number" min="0"  class="form-control froms" (keyup)="documentTextList($event, i, 0)" (change)="documentTextList($event, i)"
                                                    placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');">
                                            </div>
                                        </div>
                                        <div class="sideListLiFilter col-xs-12 zeroPadding">
                                            <div class="col-xs-4 col-sm-2 zeroPadding distanceMinMax">To</div>
                                            <div class="col-xs-8 col-sm-10 zeroPadding">
                                                <input type="number" min="0"  class="form-control tos" (keyup)="documentTextList($event, i, 1)" (change)="documentTextList($event, i)"
                                                    placeholder="{{list.fieldName}}" oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 zeroPadding" *ngIf="list.type == 6">
                                        <select name="" id="selCat" class="form-control inputBox" (change)="documentTextList($event, i)">
                                            <option value="" disabled>{{home.select}} {{list.fieldName}}</option>
                                            <option value="{{lists}}" *ngFor="let lists of list.filterData">{{lists}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listBrowseTitle"> {{home.distance}}</div>
                    <ul class="sideList listnone distanceList zeroPadding marginPadding" *ngIf="catList">
                        <li class="sideListLi textEllipsee">
                            <span class="lnr lnr-home pull-left"></span>
                            <span id="slidecontainer">
                                <input type="range" min="0" step="10" max="50" value="0" class="slider_range" [(ngModel)]="distance" id="myRange" #inF (ngModelChange)="milesDistance(inF.value)" [ngClass]="{'distanceRangeCss2': distance <= 10,'distanceRangeCss1': distance <= 20 && distance > 10,'distanceRangeCss2': distance <= 30 && distance > 20,'distanceRangeCss3': distance <= 40 && distance > 30}">
                                <div class="distanceCalculatorList colorGray col-xs-12 zeroPadding" style="font-size: 11px;">
                                    <span class="col-xs-2" style="padding:0 0 0 10px;color: #e3e3e3;">|</span>
                                    <span class="col-xs-2 zeroPadding text-center">10</span>
                                    <span class="col-xs-2 zeroPadding text-center">20</span>
                                    <span class="col-xs-2 zeroPadding text-center">30</span>
                                    <span class="col-xs-2 zeroPadding text-center">40</span>
                                    <span class="col-xs-2 zeroPadding text-right">+50</span>
                                </div>
                            </span>
                            <span class="lnrr lnr-bicyclee pull-right" style="width: 15%;">
                                {{home.max}}
                                <br>
                                <span class="kmDistance" *ngIf="home != undefined">{{home.km}}</span>
                            </span>
                        </li>
                    </ul>
                    <ul class="sideList listnone padMore marginPadding" *ngIf="!catList">
                        <li class="sideListLi">
                            <a class="textDecoration colorGrayLight" *ngIf="home != undefined">{{home.noCategory}}</a>
                        </li>
                        <!-- <li class="sideListLi">
                            <a class="textDecoration colorGrayLight" routerLink="./search">
                                <img class="catLine" src="assets/images/othersLine.png">Others</a>
                        </li> -->
                    </ul>

                    <div class="listBrowseTitle" *ngIf="home != undefined"> {{home.sortBy}}</div>
                    <ul class="sideList listnone zeroPadding marginPadding paddingfilter sortPrice" *ngIf="catList">
                        <li class="sideListLi textEllipse1" (click)="sortPrice('postedOnDesc', 0)">
                            <input type="radio" class="radioClass" name="sortPrice" checked="sortPrice === postedOnDesc">
                            <span class="sortColor"> {{home.newestFirst}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="sortPrice('distanceAsc')">
                            <input type="radio" class="radioClass" name="sortPrice" checked="sortPrice === distanceAsc">
                            <span class="sortColor"> {{home.closestFirst}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="sortPrice('priceAsc')">
                            <input type="radio" class="radioClass" name="sortPrice" checked="sortPrice === priceAsc">
                            <span class="sortColor"> {{home.lowToHighPrice}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="sortPrice('priceDsc')">
                            <input type="radio" class="radioClass" name="sortPrice" checked="sortPrice === priceDsc">
                            <span class="sortColor"> {{home.highToLowPrice}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                    </ul>


                    <div class="listBrowseTitle" *ngIf="home != undefined"> {{home.postedWithin}}</div>
                    <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                        <li class="sideListLi textEllipse1" (click)="postedWithinList(0, 1)">
                            <input type="radio" class="radioClass" name="postedWithin" checked="postedWithin === 1">
                            <span class="sortColor" *ngIf="home != undefined"> {{home.allListings}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="postedWithinList(1, 2)">
                            <input type="radio" class="radioClass" name="postedWithin" checked="postedWithin === 2">
                            <span class="sortColor" *ngIf="home != undefined"> {{home.last24Hours}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="postedWithinList(2, 3)">
                            <input type="radio" class="radioClass" name="postedWithin" checked="postedWithin === 3">
                            <span class="sortColor" *ngIf="home != undefined"> {{home.last7Days}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                        <li class="sideListLi textEllipse1" (click)="postedWithinList(3, 4)">
                            <input type="radio" class="radioClass" name="postedWithin" checked="postedWithin === 4">
                            <span class="sortColor" *ngIf="home != undefined"> {{home.last30Days}} </span>
                            <i class="ion-checkmark-round tickMark color"></i>
                        </li>
                    </ul>


                    <div class="listBrowseTitle" *ngIf="home != undefined"> {{home.price}}</div>
                    <ul class="sideList listnone zeroPadding marginPadding paddingfilter" *ngIf="catList">
                        <li class="sideListLi col-xs-12">
                            <div class="col-xs-4 zeroPadding" *ngIf="home != undefined">{{home.currency}}</div>
                            <div class="col-xs-8 zeroPadding">
                                <select class="cursorPointer col-xs-12 zeroPadding"  [(ngModel)]="currency" name="currency" #sC (change)="selectCurrency(sC.value);">
                                    <option value="">Select Currrency</option>
                                    <option *ngFor="let item of currencyList" value="{{item.value}}">{{item.text}}</option>

                                </select>
                            </div>
                        </li>
                        <li class="sideListLi col-xs-12">
                            <div class="col-xs-4 zeroPadding distanceMinMax" *ngIf="home != undefined">{{home.from}}</div>
                            <div class="col-xs-8 zeroPadding">
                                <input type="number" min="0" class="form-control from1 zeroPadding" #mip (change)="minimumPrice(mip.value)" (keyup)="numberDitchit(mip.value)"
                                    (keyup.enter)="minimumPrice(mip.value)" id="fromToPricingInput" placeholder="{{home.price}}" [(ngModel)]="minPrice">
                            </div>
                        </li>
                        <li class="sideListLi col-xs-12">
                            <div class="col-xs-4 zeroPadding distanceMinMax">To</div>
                            <div class="col-xs-8 zeroPadding">
                                <input type="number" min="0" class="form-control to1 zeroPadding fromToPricingInput" #mxp (change)="maximumPrice(mxp.value)" (keyup)="numberDitchit1(mxp.value)"
                                    (keyup.enter)="maximumPrice(mxp.value)" id="fromToPricingInput" placeholder="{{home.price}}" [(ngModel)]="maxPrice">
                            </div>
                        </li>
                    </ul>
                    <div class="listBrowseTitle backGroundMain" style="border:0;height: 70px;"></div>
                    <h5 class="col-xs-12 text-center" style="color: #f7931a;" *ngIf="errMsg"> {{errMsg}}</h5>
                    <div class="filterButton">
                        <div class="loader loginPage loaderGif" *ngIf="loaderButton" style="top: 10px !important;"></div>
                        <span class="buttonPopupFilter" (click)="filterToggle()" *ngIf="home != undefined">{{home.saveFilters}}</span>
                    </div>
                </div>
            </div>

            <div class="filterRecent col-xs-12 zeroPadding">
                <div class="recentList" style="margin-top:2%" [ngClass]="{'scrollList': !bannerShow == false}"> 
                    <!-- <div class="listHeaderTitle col-xs-12 col-sm-offset-2 col-sm-10 zeroPadding form-group">
                    <div class="boxDefault marginPadding">Recent items near
                        <b class="recentCity"></b>
                    </div>
                </div> -->
                    <div class="recentItemCollection" id="columns" *ngIf="allList && allListData && !listsLength">
                        <figure class="listImageItem boxShadowList" *ngFor="let list of allList">
                            <div class="allListRecent cursorPointer" (click)="itemDetails(list.postId, list.productName)">                                
                                <img src="assets/images/featured.svg" class="mikeSound" *ngIf="list.isPromoted == 1">
                                <img src="assets/images/swaped.svg" class="isSwap" *ngIf="list.isSwap == 1">
                                <div class="imgRecent">
                                    <!-- <i class="mikeSound"></i> -->
                                    <a>
                                        <img class="" [defaultImage]="defaultImage" [lazyLoad]="list.mainUrl" [offset]="offsetImg" alt="{{list.seoTitle}}" title="{{list.seoTitle}}" (click)="itemDetails(list.postId, list.productName)">
                                    </a>
                                    <!-- <div class="lineColor col-xs-6 zeroPadding"></div> -->
                                </div>
                                <div class="recentContentList col-xs-12">
                                    <div class="itemPrice col-xs-12 zeroPadding" *ngIf="list.price">
                                        <span class="colorGrayLight" style="font-weight:600;">{{getDirhamCurrencyPrice(list)}} {{list.currency}} </span>
                                    </div>
                                    <div class="itemTitle col-xs-12 zeroPadding">{{list.productName}}</div>
                                    <div class="itemTitle col-xs-12 textEllipse" *ngIf="list.isSwap == 1 && list.swapPost">Swap For:
                                        <span *ngFor="let swap of list.swapPost"> {{swap.swapTitle}}</span>
                                    </div>
                                </div>
                                <div class="OwnerInfo col-xs-12">
                                    <div class="itemDistance textEllipse col-xs-12 zeroPadding" *ngIf="list.city != null || list.distance != null">
                                        <img class="mapIcon veticalTop" src="assets/images/map.svg" style="width: 14px;">
                                         <span class="milesList" *ngIf="list.distance != null">{{list.distance.toFixed(2)}} {{home.miles}}</span>
                                        <span class="textTrans" *ngIf="list.city != null">{{list.city}}, {{list.countrySname}}</span>
                                    </div>

                                    <!-- <span class="OwnerInfoPic"><img class="OwnerInfoImg" src="{{list.profilePicUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';"></span>
                                <span class="OwnerInfoTitle">{{list.postedByUserFullName}}</span> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-xs-12 loadMore" *ngIf="allList && allListData && !listsLength && LoaderMoreErr == false">
                        <div class="text-center" (click)="onScroll()">
                            <button class="btn text-center" style="border: 2px solid #f7931a;background:white">
                             <span style="color:#f7931a;"><strong>Load More</strong></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 loadMore" *ngIf="LoaderMoreErr">
                        <div class="text-center">
                            <span style="color:#f7931a;"><strong>{{home.NoItemFound}}</strong></span>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 zeroPadding" *ngIf="listsLength && allListData">
                        <h1 class="colorGray" *ngIf="home != undefined">{{home.noOffers}}.</h1>
                        <p *ngIf="home != undefined">{{home.sorryNotFound}}.</p>
                        <p>
                            <a class="color cursorPointer textDecoration" *ngIf="home != undefined">{{home.downloadApp}}</a> {{home.startPostingOffers}}.</p>
                    </div>
                    <div class="col-xs-12 loaderList" id="columns" *ngIf="!allListData">
                        <div class="loaderGif"></div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 loaderList" id="columns" *ngIf="LoaderShow">
                    <div class="loaderGif"></div>
                </div> -->
            </div>
        </div>
        <div class="col-xs-12 trustedList" style="display:none">
            <div class="container text-center">
                <h2 class="trustText" *ngIf="home != undefined">{{home.trustByMillions}}</h2>
                <ul class="listnone">
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg1"></div>
                        <div class="" *ngIf="home != undefined">{{home.blythe}}</div>
                    </li>
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg2"></div>
                        <div class="" *ngIf="home != undefined">{{home.robin}}</div>
                    </li>
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg3"></div>
                        <div class="" *ngIf="home != undefined">{{home.chris}}</div>
                    </li>
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg4"></div>
                        <div class="" *ngIf="home != undefined">{{home.greg}}</div>
                    </li>
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg5"></div>
                        <div class="" *ngIf="home != undefined">{{home.heidi}}</div>
                    </li>
                    <li class="trustLi">
                        <div class=""></div>
                        <div class="trustoryImage trustImg6"></div>
                        <div class="" *ngIf="home != undefined">{{home.krystal}}</div>
                    </li>
                </ul>
                <h4 class="col-xs-12 trustStories color cursorPointer" *ngIf="home != undefined">{{home.readTitleStories}}
                    <i class="ion-arrow-right-c"></i>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 homepageCoverFooter" style="display:none">
            <div class="container">
                <div class="covetFooter col-xs-12 col-sm-6 zeroPadding colorWhite">
                    <h2 class="textapp" style="padding-top: 40px;" *ngIf="home != undefined">{{home.getApp}}</h2>
                    <p *ngIf="home != undefined">{{home.joinMillions}}</p>
                    <br>
                    <br>
                    <div class="appStoreIcon">
                        <span class="">
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ofersale.com&hl=en">
                                <img class="stroeIcon cursorPointer" src="https://d2qb2fbt5wuzik.cloudfront.net/mobivendawebsite/images/google-play.svg"
                                    alt="">
                            </a>
                        </span>
                        <span class="">
                            <a target="_blank" href="https://itunes.apple.com/us/app/ofersale/id1439159585?mt=8">
                                <img class="stroeIcon cursorPointer" src="https://d2qb2fbt5wuzik.cloudfront.net/mobivendawebsite/images/app-store.svg" alt="">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="loveJob col-xs-12 text-center" style="display:none">
            <br>
            <h2 class="textapp form-group">{{home.loveJob}}</h2>
            <div class="col-xs-12 zeroPadding form-group">
                <span class="positionEngineer">
                    <i class="ion-android-phone-portrait" *ngIf="home != undefined"></i> {{home.srAndroidEngineer}}</span>
                <span class="positionEngineer">
                    <i class="ion-android-phone-portrait" *ngIf="home != undefined"></i> {{home.srIOSEngineer}}</span>
                <span class="positionEngineer">
                    <i class="ion-android-phone-portrait" *ngIf="home != undefined"></i> {{home.srBackendEngineer}}</span>
            </div>
            <h4 class="col-xs-12 trustStories color cursorPointer" *ngIf="home != undefined">{{home.seePositions}}
                <i class="ion-arrow-right-c"></i>
            </h4>
        </div>

    </div>
</div>

<!-- sell popup -->
<div class="modal fade playVideoItWorks" id="howItWorksVideo" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">

        <!-- Modal content-->
        <div class="modal-content col-xs-12 zeroPadding">
            <div class="modal-body col-xs-12 zeroPadding">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 30px;font-weight:200;">&times;</button>
            </div>
        </div>

    </div>
</div>
<!-- YouTube videos -->
<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background:none; -webkit-box-shadow:  0 0px 0px rgba(0,0,0,.5); box-shadow: 0 0px 0px rgba(0,0,0,.5);">
            <div class="modal-header zeroPadding;" style="border-bottom: 0px solid #e5e5e5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:36px;color:black">
                    <span aria-hidden="true">&times;</span>
                </button>  
            </div>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>      -->
            <!-- <div class="modal-video"> -->
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2ZCzKgTEtcI" frameborder="0" allowfullscreen=""></iframe>
                </div> -->
            <!-- </div>    -->
                  <!-- 16:9 aspect ratio -->
                  <div class="modal-body">
                    <div *ngIf="toggleEngOrSp == 1" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2ZCzKgTEtcI" id="video"  allowscriptaccess="always"></iframe>
                    </div>
                    <div *ngIf="toggleEngOrSp == 2" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qfzv7AsJyw0" id="video"  allowscriptaccess="always"></iframe>
                    </div>
                  </div>
            <!-- <div *ngIf="toggleEngOrSp == 1" class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2ZCzKgTEtcI" id="video"  allowscriptaccess="always"></iframe>
            </div>
            <div *ngIf="toggleEngOrSp == 2" class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qfzv7AsJyw0" id="video"  allowscriptaccess="always"></iframe>
            </div> -->
        </div>
    </div>
</div> 

<!-- sell on popup -->
<div class="modal fade" id="sellModalhow" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">

        <!-- Modal content-->
        <div class="modal-content col-xs-12 zeroPadding">
            <div class="modal-body sellPopup col-xs-12 zeroPadding">
                <button type="button" class="close" data-dismiss="modal" style="color:initial;">&times;</button>
                <div class="col-xs-12 contentSell" *ngIf="!succesSeller">
                    <h1 class="text-center colorGray" *ngIf="home != undefined">{{home.sendAppLink}}</h1>
                    <div class="phonOrEmail col-xs-12 padMore text-center" *ngIf="!howPopupSuccess">
                        <div class="emailList col-xs-12 zeroPadding">
                            <img class="howPopupImg" src="https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/howEmail.png">
                            <input type="text" name="sellEmail" [(ngModel)]="sellEmail" #hv (keyup)="emailValidation(hv.value)" (change)="emailValidation(hv.value)"
                                class="inputEmail form-control input-lg" placeholder="{{emailPlaceHolder}}">
                        </div>
                        <h5 class="errorMsg" *ngIf="email_Error">{{home.provideValidEmail}}</h5>
                        <div class="colorGray col-xs-12 zeroPadding">
                            <b>or</b>
                        </div>
                        <div class="phoneList col-xs-12 zeroPadding form-group">
                            <img class="howPopupImg" src="{{howPhone}}">
                            <input type="text" name="sellPhone" [(ngModel)]="sellPhone" #hp (keyup)="mobileValidation(hp.value)" (change)="mobileValidation(hp.value)"
                                class="inputEmail form-control input-lg" placeholder="123-456-7890">
                        </div>
                        <h5 class="errorMsg" *ngIf="phone_Error &&home != undefined">{{home.enterNumberCountryCode}} </h5>
                        <h5 class="errorMsg" *ngIf="PEerror">{{PEerror}}</h5>
                        <div class="sendSell submitLogin col-xs-12 zeroPadding">
                            <button type="button" class="btn btnSubmit" (click)="sellHowSend()" [disabled]="!(registerSave)">{{home.send}}</button>
                        </div>
                    </div>
                    <div class="successTextHow col-xs-12 padMore text-center" *ngIf="howPopupSuccess">
                        <h3 *ngIf="home != undefined" >{{home.recentRequestApp}}</h3>
                        <p *ngIf="home != undefined" style="margin-top:20px">{{home.minsToReceive}}</p>
                        <p *ngIf="home != undefined">{{home.wait5Mins}}
                            <br *ngIf="home != undefined"> {{home.makeOtherRequest}}</p>
                    </div>
                </div>
                <div class="col-xs-12 sellMobileImg text-center" *ngIf="succesSeller">
                    <br>
                    <br>
                    <br>
                    <h1 *ngIf="home != undefined" class="sizeLarge">{{home.thankYou}}</h1>
                    <h1 *ngIf="home != undefined" class="sizeMedium">{{home.minsToReceive}}</h1>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- current location -->
<div class="modal fade homeLocation" id="locationMap" data-backdrop="static" data-keyboard="false" role="dialog" style="background-color: rgba(255, 255, 255, 0.7)">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="display:inline-block;width:100%;">
                <div class="mapLocation">
                    <div class="locateTitle">
                        <span class="closeIcon" data-dismiss="modal" style="">X</span>
                        <span class="title">{{home.changeLocation}}</span>
                    </div>
                    <div class="listInput">
                        <span class="ion-search ionsLocate" style="font-size:20px;"></span>
                        <input type="text" class="location  addressArea form-control" id="changeLocationId" (keyup)="changeLocation($event)" (change)="changeLocation($event)"
                            placeholder="Change Location" value="">
                        <span class="ion-android-locate ionsLocate" style="font-size:20px;" (click)="setCurrentLocation()"></span>
                    </div>
                    <div class="mapData" id="mapData"></div>
                    <div class="setLocation col-xs-12 zeroPadding" data-dismiss="modal" (click)="locationChange1();">
                        <span class="btnLocate">{{home.setLocation}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>