<title>{{privacySub.privacyPolicyTitle}}</title>
<div class="termsTotal allInnerContent text-center col-xs-12 zeroPadding mainContainerForAll">
  <br>
  <br>
  <br>
  <div class="container contentPage" [innerHTML]="privacy">
       
  </div>
</div>