<div class="masonry-demo">
	<div class="links">
	</div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
         <div class="flexContainer row">
           <div class="col-4" *ngFor="let list of allList">
            <img src="{{list.mainUrl}}">
           </div>
         </div>
      </div>
    </div>
  </div>
</div>