

#wrapper {
  display: flex;
  flex-wrap: wrap;
}
#wrapper > figure {
  margin: 0;
  padding: 0;
  flex: auto;
}
#wrapper > figure > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: solid 1px black;
  
}
.flexContainer{
  display: flex;
  flex-wrap: nowrap;
}