.sendingOpt .card {
    box-shadow: 1px 1px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .box .inputBox{
    margin-bottom: 36px !important;
  }
  
  .container1 {
    padding: 2px 16px;
  }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3.selected-flag {
    width: 78px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2{
  padding-bottom: 44px !important;
}
.flag-container{
  height: 40px !important;
}
.Button{
  margin:0px !important;
  position:static !important;
  padding: 10px
}
/* .intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag{
  min-height: 40px !important;
} */