<title>Otp-Verification</title>
<div class="verifyOtp col-xs-12 zeroPadding mainContainerForAll"  style="min-height:36em;margin-top:80px">
  <div class="container">
    <div class="row" style="margin:0px">
      <div class="sendingOpt">
      <div class="card">
       <div class="card-header" style="text-align:center">
         <div class="row padMore">
          <strong>{{CardTitle}}</strong>
         </div>
       </div>   
       <div class="card-body">
         <div [hidden]="toogleOtp" class="col-xs-12 form-group">
           <div class="col-xs-2 box" [attr.disabled]="true" style="pointer-events: none;" [ngClass]="{'arabicPhoneDial, arabicPhoneNumFlag':languageCode === 'ar'}">
            <!-- <div class="col-xs-2 box"> -->

              <div class="inputBox" id="phoneNum" style="padding-left: 85px !important;display: inline-block;"></div>
              <!-- <input class="form-control input-md col-md-6 inputBox" id="phoneNum" type="text" name="phone" style="padding-left: 85px !important;display: inline-block;" #pcv  > -->
           </div>
           <div class="col-xs-4 form-group addPadding">
              <input class="form-control" readonly type="text" [(ngModel)]="phoneNumber" #phn  placeholder="{{optVerify.phoneNumber}}">
           </div>
           <div class="col-xs-4 form-group addPadding">
              <input class="form-control" minlength='4' maxlength="4" type="text" [(ngModel)]="otpNumber" #pOt  placeholder="{{optVerify.enterOtp}}">
           </div>
         </div>
         <!-- <div [hidden]="!toogleOtp" class="col-xs-12 form-group">
         <input class="form-control" type="text" maxlength="4" name="otpNumber" required="" [(ngModel)]="otpNumber" (keyup)="eraseerror()"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        </div> -->
       </div>
       <div class="card-footer">
         <div class="sendingOtp" [hidden]="toogleOtp">
           <div class="row padMore" *ngIf="errorMsg" style="text-align:center; color:red;">
            {{errorMsg}}
           </div>
           <div class="row padMore" *ngIf="phone_Error" style="text-align:center; color:red;">
            {{phoneError}}
           </div>
          <!-- <div class="row loginButton Button">
            <button type="button" class="btn btn-default" (click)="SendOtp()">Send Otp</button>
          </div> -->
          <div class="row loginButton padMore zeroPadding resendOtp" style="margin-top:84px;">
            <div class="col-md-6 col-xs 12 zeroPadding" style="margin-top:10px;">
              {{optVerify.havereceiveOtp}}
            </div>
            <div class="col-md-6 col-xs-12 text-center col-sm-12 zeroPadding">
              <button type="button" class="btn btn-default" style="padding:10px 14px;" (click)="verifyOtp()">{{optVerify.resentOtp}}</button>
            </div>
          </div>
        </div>
        <div class="row loginButton Button verifyingOTP">
            <button type="button" class="btn btn-default" (click)="verifyOtp()">{{optVerify.verifyOtp}}</button>
        </div>
       </div>
      </div>
      </div>
    </div>
  </div>
</div>
