<title>{{settings.settingsTitle}}</title>
<div class="loaderBackground" [hidden]="allListProfile">
  <div class="loader"></div>
</div>

<div class="offerListDetails col-xs-12 zeroPadding mainContainerForAll" [hidden]="!allListProfile" style="min-height:42em;margin-top:80px">
  <div class="mainWrap">
    <div class="container">
      <div class="itemSellLocallyList col-xs-12 zeroPadding">
        <section class="profilePageWrap">
          <!--profileTitleSection-->
          <section class="profileTitleSection">
            <div class="col-xs-12 profileTitle" *ngIf="editProfile">
              <span class="" *ngIf="editProfile.fullName">{{editProfile.fullName}}</span>
              <span class="" *ngIf="!editProfile.fullName">{{editProfile.username}}</span>
              <h5 class="" *ngIf="editProfile.place != 'null'">{{editProfile.place}}</h5>
            </div>
            <div class="profileEdit row">
              <div class="col-6">
                  <i class="profileEditdeskView ion-arrow-left-c" title="Go back" routerLink="" id="edit_profile_trigger" style="right:0;left:15px;color:white" alt="">
                  </i>
              </div>
              <div class="col-6">
                <img class="profileEditdeskView" id="edit_profile_trigger" title="edit Profile" data-toggle="modal" data-target="#editProfile1" src="assets/images/edit.svg" (click)="EditProfile()"
                style="width:20px;position: absolute;right:15px;top: 30px;cursor: pointer;" [ngClass]="{'left30' : languageCode === 'ar' }"alt="edit">
              </div>

            </div>
          </section>
          <!--profileTitleSection-->

          <!--profileDetailsSection-->
          <section class="profileDetailsSection">
            <div class="col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 profileDetails">
              <div class="profileDetailsImage">
                <img class="profileDetailsSectionImage" src="{{editProfile.profilePicUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';"
                  alt="">
                <div class="starsLayout col-xs-12 zeroPadding">
                  <span class="startImg" [class.active]="list.star == true" *ngFor="let list of emptyStar;trackBy: trackByIndex;"></span>
                </div>
                <h5 class="">{{settings.verifiedWith}}</h5>
              </div>
              <div class="socialMediaIcons text-center" *ngIf="editProfile">
                <img class="" *ngIf="editProfile.facebookVerified == 1" src="{{settings.settingsFBOn}}" title="{{settings.fbCon}}" alt="">
                <img class="" *ngIf="editProfile.facebookVerified == null || editProfile.facebookVerified == 0" (click)="signInWithFB()"
                  title="{{settings.fbNotCon}}" src="{{settings.settingsFBOff}}" alt="">
                <img class="" *ngIf="editProfile.googleVerified == 1" src="{{settings.settingsGOn}}" alt="" title="{{settings.googleCon}}">
                <img class="" *ngIf="editProfile.googleVerified == null" src="{{settings.settingsGOff}}" (click)="signInWithGoogle()" alt=""
                  title="{{settings.googleDisCon}}">
                <img class="" *ngIf="editProfile.emailVerified == 1" title="{{settings.emailVeirfy}}" src="{{settings.settingsEmailOn}}" alt="">
                <img class="" *ngIf="editProfile.emailVerified != 1" data-dismiss="modal" (click)="emailClick();" title="{{settings.emailNotVerify}}"
                  src="{{settings.settingsEmailOff}}" alt="">
                <img class="" *ngIf="editProfile.paypalUrl != null" title="{{settings.payPalVerify}}" src="{{settings.settingspayOn}}" alt="">
                <img class="" *ngIf="editProfile.paypalUrl == null" data-dismiss="modal" data-toggle="modal" data-target="#paypalPopup" title="paypal Not Verified"
                  src="{{settings.settingspayOff}}" alt="">
                <!-- <img class="" src="assets/images/otp.png" alt="" title="otpVerification" routerLink="/otpVerification"> -->
              </div>
              <div class="profileFollowersSection">
                <ul class="profileFollowersUL col-xs-12">
                  <li class="col-xs-4 zeroPadding">
                    <a>{{settings.posts}}-{{postLength}} </a>
                  </li>
                  <li class="col-xs-4 zeroPadding">
                    <a class="cursorPointer" data-toggle="modal" data-target="#myModal" (click)="getFollowers()">
                      <span>{{settings.followers}}-{{followerLength}}</span>
                    </a>
                  </li>
                  <li class="col-xs-4 zeroPadding">
                    <a class="cursorPointer" data-toggle="modal" data-target="#myModal" (click)="getFollowing()">
                      <span>{{settings.following}}-{{followingLength}}</span></a>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div>
              <div class="" *ngIf="editProfile">
                <a href="//{{editProfile.websiteUrl}}" target="_blank" class="cursorPointer profileVisitingWebsiteLink">{{editProfile.websiteUrl}}</a>
                <p class="profileText">{{editProfile.bio}}</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="clearfix"></div>
          </section>
          <!--profileDetailsSection-->


          <!--productSection-->
          <section class="productSectionPills">
            <ul class="nav nav-pills" style="background: #fff;">
              <li class="col-xs-4 productSectionHeader active zeroPadding marginPadding">
                <a (click)="allListProcess(0)" data-toggle="pill" href="#selling">{{settings.selling}}</a>
              </li>
              <li class="col-xs-4 productSectionHeader zeroPadding marginPadding">
                <a (click)="allListProcess(1)" data-toggle="pill" href="#selling">{{settings.sold}}</a>
              </li>
              <li class="col-xs-4 productSectionHeader zeroPadding marginPadding">
                <a (click)="allListProcess(2)" data-toggle="pill" href="#selling">{{settings.favourites}}</a>
              </li>
            </ul>

            <div class="tab-content">
              <!--productSection-->
              <div id="selling" class="tab-pane fade in active">
                <!--loader-->
                <div class="col-xs-12 zeroPadding recentList form-group">
                  <div class="loaderGif" style="top:auto;z-index: 999;position:relative" *ngIf="loaderButton"></div>
                  <!--loader-->
                  <!--productSectionNot-->
                  <div class="col-xs-12 boxShadowList1 padMore errorData" *ngIf="!offerListLength && !loaderButton">
                    <div class="col-xs-12 text-center nopostImg" *ngIf="noPostContent == 0 || noPostContent == 3">
                      <img class="imgnoPost" src="assets/images/selling.svg">
                      <h4 class="text-center sizeLarge1">{{settings.noAds}}</h4>
                      <h4 class="text-center sizeSmall">{{settings.snapSell}}</h4>
                    </div>
                    <div class="col-xs-12 text-center nopostImg" *ngIf="noPostContent == 1">
                      <img class="imgnoPost" src="assets/images/sold.svg">
                      <h4 class="text-center sizeLarge1">{{settings.noSold}}</h4>
                    </div>
                    <div class="col-xs-12 text-center nopostImg" *ngIf="noPostContent == 2">
                      <img class="imgnoPost" src="assets/images/favorite.svg">
                      <h4 class="text-center sizeLarge1">{{settings.fountFav}}</h4>
                      <h4 class="text-center sizeSmall">{{settings.postAds}}</h4>
                    </div>
                  </div>
                  <!--productSectionNot-->
                  <div class="col-xs-12 zeroPadding" id="columns" *ngIf="offerListLength && sellingOffer && !loaderButton" (scroll)="onScroll(noPostContent)">
                    <figure class="listImageItem boxShadowList" *ngFor="let list of sellingOffer;trackBy: trackByIndex;">
                      <div class="allListRecent cursorPointer" (click)="itemDetails(list)">
                        <div class="imgRecent">
                          <img class="productCategoryImage" src="{{list.mainUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';"
                            alt="Annonzilla">
                        </div>
                        <div class="recentContentList col-xs-12">
                          <div class="itemTitle textEllipse col-xs-12 colorGray">{{list.productName}}</div>
                          <div class="itemPrice color col-xs-12 zeroPadding">
                          {{getDirhamCurrencyPrice(list)}} {{list.currency}}
                          </div>
                        </div>
                        <div class="locationLayouts col-xs-12 text-center zeroPadding" *ngIf="noPostContent == 3">
                          <i class="hoursList">{{list.acceptedDate}}</i>
                          <img class="swapImg" src="{{list.thumbnailImageUrl}}">
                          <img class="swapImg" src="assets/images/swapArrow.png">
                          <img class="swapImg" src="{{list.swapMainUrl}}">
                          <div class="itemTitle colorGray">{{settings.exchange}}
                            <span class="color">{{list.productName}}</span>{{settings.for}}
                            <span class="color">{{list.swapProductName}}</span>{{settings.onSale}}
                          </div>
                        </div>
                      </div>
                    </figure>
                    <!-- <div class="YeloNews borderAlt col-xs-12"></div> -->
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!--productSection-->



          <!--followers Model-->
          <section class="followersSection">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{tileFollowers}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="followers">
                      <div class="" *ngIf="!followingErr">
                        <div class="" *ngFor="let list of following; let i = index">
                          <div class="followersList">
                            <div class="col-xs-1 zeroPadding">
                              <img class="" src="{{list.profilePicUrl}}" onError="this.src='assets/images/default-thumnail.png'">
                            </div>
                            <div class="col-xs-8 followersHeadersMobileView">
                              <h4 class="">{{list.username}}</h4>
                              <h5 class="">{{list.fullName}}</h5>
                            </div>
                            <div class="col-xs-3 followersbuttonMobileView paddingLeft">
                              <div class="loader" *ngIf="list.loaderFlag==true"></div>
                              <!-- <div class="" *ngIf="list.userFollowRequestStatus  == 1">
                                <button type="button" class="btn btn-primary btn-xs" (click)="unFollowButton(list.username, i)" id="followingButton">{{settings.follwer1}}</button>
                              </div>
                              <div class="" *ngIf="list.userFollowRequestStatus  == null">
                                <button type="button" class="btn btn-primary btn-xs follow" (click)="followerButton(list.username, i)" id="followButton">{{settings.follower}}</button>
                              </div> -->
                              
                              <div class="" *ngIf="list.userFollowRequestStatus  == 1">
                                <button type="button" class="btn btn-primary btn-xs" (click)="unFollowButton(list.username, i)" id="followingButton">{{settings.follower}}</button>
                              </div>
                              <div class="" *ngIf="list.userFollowRequestStatus  == null">
                                <button type="button" class="btn btn-primary btn-xs follow" (click)="followerButton(list.username, i)" id="followButton">{{settings.follwer1}}</button>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                      <div class="loaderGif" style="top:auto;z-index: 999;position:relative" *ngIf="loaderButtonPopup"></div>
                      <div class="text-center" *ngIf="followingErr && !loaderButtonPopup">
                        <div class="col-xs-12 text-center nopostImg" *ngIf="tileFollowers == 'Following'">
                          <img class="imgnoPost" src="assets/images/followingYet.svg">
                          <h4 class="text-center sizeLarge1">{{settings.follwing}}</h4>
                        </div>
                        <div class="col-xs-12 text-center nopostImg" *ngIf="tileFollowers == 'Suivant'">
                          <img class="imgnoPost" src="assets/images/followingYet.svg">
                          <h4 class="text-center sizeLarge1">{{settings.follwing}}</h4>
                        </div>
                        <div class="col-xs-12 text-center nopostImg" *ngIf="tileFollowers == 'Follower'">
                          <img class="imgnoPost" src="assets/images/followerYet.svg">
                          <h4 class="text-center sizeLarge1">{{settings.follwing}}</h4>
                        </div>
                        <div class="col-xs-12 text-center nopostImg" *ngIf="tileFollowers == 'Abonnés'">
                          <img class="imgnoPost" src="assets/images/followerYet.svg">
                          <h4 class="text-center sizeLarge1">{{settings.follower}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <!--followers Model-->
          </section>

        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="errorPopup" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{settings.internetErr}}</h4>
      </div>
      <div class="modal-body">
        <p>{{settings.internetSet}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{settings.close}}</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->

<!-- build trust-->
<div class="modal fade" id="buildTrustPopup" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center" style="border: 0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{settings.buildTrust}}</h4>
      </div>
      <div class="modal-body">
        <div class="socialMediaIcons text-center" *ngIf="editProfile">
          <img class="" *ngIf="editProfile.facebookVerified == 1" src="{{settings.settingsFBOn}}" title="{{settings.fbCon}}" alt="">
          <img class="" *ngIf="editProfile.facebookVerified == null || editProfile.facebookVerified == 0" (click)="signInWithFB()"
            title="{{settings.fbNotCon}}" src="{{settings.settingsFBOff}}" alt="">
          <img class="" *ngIf="editProfile.googleVerified == 1" src="{{settings.settingsGOn}}" alt="" title="{{settings.googleCon}}">
          <img class="" *ngIf="editProfile.googleVerified == null" src="{{settings.settingsGOff}}" (click)="signInWithGoogle()" alt=""
            title="{{settings.googleDisCon}}">
          <img class="" *ngIf="editProfile.emailVerified == 1" title="{{settings.emailVeirfy}}" src="{{settings.settingsEmailOn}}" alt="{{settings.emailVeirfy}}">
          <img class="" *ngIf="editProfile.emailVerified != 1" data-dismiss="modal" (click)="emailClick();" title="{{settings.emailNotVerify}}"
              src="{{settings.settingsEmailOff}}" alt="">
          <img class="" *ngIf="editProfile.paypalUrl != null" title="{{settings.payPalVerify}}" src="{{settings.settingspayOn}}" alt="{{settings.payPalVerify}}">
          <img class="" *ngIf="editProfile.paypalUrl == null" data-dismiss="modal" data-toggle="modal" data-target="#paypalPopup" title="{{settings.payPalNot}}"
              src="{{settings.settingspayOff}}" alt="">
        </div>
      </div>
      <div class="modal-footer" style="border: 0;text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{settings.cancel}}</button>
      </div>
    </div>

  </div>
</div>

<!-- paypal link-->
<div class="modal fade" id="paypalPopup" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{settings.payPal}}</h4>
      </div>
      <div class="modal-body" style="background: hsl(0, 0%, 93%);">
        <div class="socialMediaIcons linkPaypal">
          <div class="titleLink">{{settings.havePaypal}}</div>
          <div class="titleLink colorGray">{{settings.Example}}:https://www.paypal.me/Annonzilla</div>
          <input type="text" name="payPal" [(ngModel)]="payPal" class="form-control paypalInput" placeholder="https://www.paypal.me/your name">
          <!-- <div class="titleLink">If you already have a Paypal.me link add it here</div> -->
          <div class="" style="position: relative;">
            <div class="loader loginPage loaderGif" *ngIf="loaderButtonProfile" style="top: 25px !important;"></div>
            <button type="button" class="btn btnPaypal" (click)="payPalList()">{{settings.Save}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- editProfile Modal -->
<section class="rightModal editProfileModal" id="editProfileModal">
  <div class="modal right fade zeroPadding" id="editProfile1" role="dialog" style="background-color: rgba(238, 238, 238, 0.95);">
    <div class="modal-dialog" style="margin-top: 60px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="border: 0;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{settings.editProfile}}</h4>
        </div>
        <div class="modal-body">
          <div class="" *ngIf="editProfile">
            <div class="editImage">
              <div class="col-xs-2 col-md-1 editImageLayout zeroPadding cursorPointer">
                <!-- <img class="" *ngIf="editProfile" src="{{editProfile.profilePicUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';"> -->
                <img class="settingImg" src="{{editProfile.profilePicUrl}}" onError="this.src='https://d2qb2fbt5wuzik.cloudfront.net/yelowebsite/images/default-thumnail.png';">
                <!-- <input type="file" id="uploadProfileInput" name="image" accept="image/*" class="yeloProfileImage" (change)="fileUploader()"
                  ng2FileSelect [uploader]="uploader"> -->
                  <input type="file" id="uploadProfileInput" name="image" accept="image/*" class="yeloProfileImage" (onFileSelected)="fileUploader($event)">

              </div>
              <div class="col-xs-10 col-md-11 editImageDescription">
                <h5 class="changeImageH5">{{settings.tapPhoto}}</h5>
                <h5 class="formatImageH5">{{settings.imageSize}}</h5>
              </div>
            </div>
          </div>
          <div class="editProfileForm" (keydown)="keyDownFunction($event)" *ngIf="editProfile">

            <div class="form-group">
              <label for="name">{{settings.Name}} *</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="editProfile.fullName" name="{{settings.Name}}">
              <!-- <div class="errorMsg" *ngIf="!editProfile.fullName">This field is required.</div> -->
            </div>
            <div class="form-group">
              <label for="userName">{{settings.userName}} *</label>
              <input type="text" readonly class="form-control" id="userName" [(ngModel)]="editProfile.username" name="username" placeholder="{{settings.userName}}">
              <!-- <div class="errorMsg" *ngIf="!editProfile.username">This field is required.</div> -->
            </div>
            <div class="form-group">
              <label for="website">{{settings.website}}</label>
              <input type="text" class="form-control" id="website" [(ngModel)]="editProfile.websiteUrl" placeholder="{{settings.website}}">
            </div>
            <div class="form-group">
              <label for="bio">{{settings.bio}}</label>
              <input type="text" class="form-control" id="bio" [(ngModel)]="editProfile.bio" name="bio" placeholder="{{settings.bio}}">
            </div>
            <div class="form-group">
              <label for="location">{{settings.Location}}</label>
              <input type="hidden" class="form-control place {{userLocation}} " >
              <input type="hidden" class="form-control lat" >
              <input type="hidden" class="form-control lng">
              <input type="text" class="form-control" id="location" name="location">
            </div>
            <div class="privateInfo col-xs-12 zeroPadding">
              <div class="title">{{settings.privateInfo}}</div>
              <div class="form-group">
                <label for="email">{{settings.emailAdd}}</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="editProfile.email" name="email" #ev (keyup)="emailValidation(ev.value)" (change)="emailValidation(ev.value)">
              </div>
              <div class="form-group row" [ngClass]="{'arabicPhoneDial':languageCode === 'ar'}">
                  <label for="phone col-md-6">{{settings.phoneNumber}}</label>
                  <!-- <input ng2TelInput
                  [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: true,nationalMode: true}" class="form-control input-md" id="mobileSignin" type="text" [(ngModel)]="editProfile.phoneNumber" name="mobileSignin" style="padding-left: 85px !important;display: inline-block;"> -->
                  <!-- <input type="text" class="form-control" id="phone" placeholder="9066352045" name="phone"> -->
                  <input class="form-control input-md col-md-6" id="mobileSignin" type="text" name="phone" style="padding-left: 85px !important;display: inline-block;" #pcv [(ngModel)]="editProfile.phoneNumber" (keyup)="mobileValidation(pcv.value)" >
                  <!-- <input *ngIf="languageCode !== ar" class="form-control input-md col-md-6" id="mobileSignin" type="text" name="phone" style="padding-left: 85px !important;display: inline-block;" #pcv [(ngModel)]="editProfile.phoneNumber" (keyup)="mobileValidation(pcv.value)"> -->
                  <!-- <input class="form-control input-md" id="mobileSignin" data-toggle="collapse" type="text" placeholder="" name="phone"> -->
                </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12 labels zeroPadding">{{settings.Gender}}</label>
              <input type="radio" name="gender" [(ngModel)]="editProfile.gender" value="Male" class="inputRadioProfile focus">
              <label class="geTitle radio-inline">{{settings.male}}</label>
              <input type="radio" name="gender" [(ngModel)]="editProfile.gender" value="Female" class="inputRadioProfile focus">
              <label class="geTitle radio-inline">{{settings.female}}</label>
            </div>

            <div class="editProfileSubmit">
              <div class="col-xs-12 zeroPadding text-danger" *ngIf="errorMsg">{{errorMsg}}</div>
              <div class="loader loginPage loaderGif" *ngIf="loaderButtonProfile"></div>
              <button type="button" class="btn btn-primarys btn-sm" [disabled]="!(editProfile.fullName && editProfile.username)" (click)="saveProfile()">{{settings.saveChange}}</button>
              <!-- <input type="text" class="form-control" id="phone" placeholder="9066352045" name="phone"> -->
              <h5 class="cursorPointer" (click)="changePassword()">{{settings.changePw}}</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!--editProfile Modal -->

<div class="modal fade" id="verified" role="dialog">
  <div class="modal-dialog" style="margin-top:12%;">
    <div class="modal-content col-xs-12 zeroPadding">
      <div class="modal-body text-center sellPopup col-xs-12 padMore">
        <div class="col-xs-12 contentSell padMoree">
          <div class="sizeLarge col-xs-12 zeroPadding errorMsgs"></div>
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">{{settings.Cancel}}</button>
      </div>
    </div>
  </div>
</div>